<main>
    @if (isLoading) {
    <section class="pokemon__names">
        <h1 class="slideInLeft">{{pokemon[0].name}}</h1>
        <h2 class="slideInRight">{{pokemon[1].names[0].name}}</h2>
    </section>

    <section class="pokemon__status">
        <img [src]="pokemon[0].sprites.other.dream_world.front_default"
             [alt]="pokemon[0].name"
             class="slideInDown">

        <article class="pokemon__status__statistics fadeIn">
            <section>
                <h3>Estatísticas</h3>
                <ol>
                    @for (statistic of pokemon[0].stats; track $index) {
                    <li>
                        {{statistic.stat.name}}

                        <strong>
                            {{statistic.base_stat}}
                        </strong>
                    </li>
                    }
                </ol>
            </section>

            <a (click)="toGoBack()"
               class="btn btn__secondary">
                Voltar
            </a>

        </article>
    </section>
    }
    @else if (apiError){
    <img src="assets/error.png"
         alt="Erro ao exibir Pokemon"
         width="100%">
    }
    @else {
    <div class="pokemon-loading">
    </div>
    }

</main>